:root {
  --main-red: #980026;
  --main-blue: #0267c1;
  --main-white-background: #ffeeee;
}

@font-face {
  font-family: mainFont;
  src: url('../fonts/main-font.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  ;
  background-color: var(--main-white-background);
}

p {
  font-size: small;
}

.hero-title {
  font-family: mainFont;
}

/* .row {
  border: 1px black solid;
} 
*/

.medicode-title>.first {
  color: var(--main-red);
}

.medicode-title>.second {
  color: var(--main-blue);
}

.tutorial-1-subheading>p {
  font-weight: bold;
}

section {
  background-color: #dddcec;
}

section:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #e0deff;
}

li {
  font-size: 1rem;
}



.cellTitle {
  font-weight: bolder;
}

.cellMainCol {
  overflow-y: hidden;
}

.replOutput {
  background-color: #c6faba;
  padding-left: 0.3rem;
}

.replOutput :not(:nth-last-child(2)) {
  display: none;
}

.replOutput :nth-last-child(2) {
  display: contents !important;
}


.tasksRow > div:nth-child(2) > div > py-repl:not(first-child) {
  display: none;
}

.tasksRow > div:nth-child(2) > div > py-repl:first-child {
  display: contents;
}

#err-div {
  font-size: 0.8rem;
  color: red;
}


#btnRun {
  opacity: 100% !important;
  ;
}

code {
  color: #0309A9;
}

.explanationRow {
  padding: 2% 1%;
}

.diagBody {
  background-color: #4a0013;
  color: white;
}

.footer {
  background-color: var(--main-red);
  overflow: hidden;
}

.footer div:not(:last-child) {
  display: none;
}

.replError {
  color: white;
}

/* SYNTAX HIGHLIGHTING STYLING FOR REPL CODE */

/* REPL BACKGROUND COLOR */
.cm-content, .cm-activeLine {
  background-color: #282a36 !important;
  color: white;
  caret-color: white !important;
}

/* COMMENTS */
.ͼl {
  color: #6aa94f;
}

/* KEYWORDS */
.ͼa, .ͼb {
  color: #82c6ff;
}

/* ints */
.ͼc {
  color: #b5cea8;
}

/* STRINGS */
.ͼd, .ͼe {
  color : #f1fa8c;
}